body {
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
    background-color:lightgrey;
}

thead {
    width: max-content;
}

table {
    width: 100%;
    text-align: center;
    font-size: 35px;
    
}

td, th {
    border: 3px solid blue;
}

h2 {
    font-size: 50px;
    color: darkred;
}